.well.white-well
	.pull-right
		%a{ href: swell_id.edit_user_admin_path( @order.user ) }
			Edit
	%h5
		Customer
	%div
		%a{ href: swell_id.edit_user_admin_path( @order.user ) }= @order.user.full_name
	%a{ href: swell_id.edit_user_admin_path( @order.user ) }= @order.user.email
