#edit_status_modal.modal.fade
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Status
			= form_for @order, url: order_admin_path( @order ), as: :order do |f|
				.modal-body{ style: 'text-align: center;' }
					.form-group
						=f.label :status
						- if authorized?(@order, controller: BazaarAdmin::OrderAdminController, action: :update )
							= f.collection_select :status, Bazaar::Order.statuses, :first, :first, {}, class: 'form-control'
						- else
							=@order.statuses.gsub(/_/,' ')
					.form-group
						=f.label :payment_status
						- if authorized?(@order, controller: BazaarAdmin::OrderAdminController, action: :update )
							= f.collection_select :payment_status, Bazaar::Order.payment_statuses, :first, :first, {}, class: 'form-control'
						- else
							=@order.payment_status.gsub(/_/,' ')
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Update', class: 'btn btn-primary'
