#refund_order.modal.fade
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Refund Amount
			= form_for @order, url: refund_order_admin_path( @order ), as: :order, method: :POST, html: { class: '' } do |f|
				.modal-body{ style: 'text-align: center;' }
					.form-group
						.input-group
							.input-group-addon
								$
							= number_field_tag :amount, @transactions.approved.to_a.sum(&:signed_amount) / 100.0, min: 0.01, step: 0.01, class: 'form-control', placeholder: '0.00'

					.form-group
						%label
							= check_box_tag :cancel_fullfillment, false
							Cancel Fullfilment

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Refund', class: 'btn btn-primary'
