#edit_subscription_offer_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Update Offer
			= form_for @subscription, url: bazaar.update_offer_subscription_admin_path( @subscription ) do |f|
				.modal-body
					.form-group.select2-form-group
						= f.label :offer_id, 'Offer'
						%div
							= f.collection_select :offer_id, BazaarCore::Offer.recurring.active.or(BazaarCore::Offer.where( id: @subscription.offer_id )), :id, :title, {}, class: 'form-control select-2-basic', style: 'width: 100%'

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Update', class: 'btn btn-primary'
