

.modal.fade#update_next_interval_modal
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Enter New Billing Date
			= form_for @subscription, url: bazaar_web.your_subscription_path( @subscription.code ) do |f|
				.modal-body
					.form-group
						= f.hidden_field :next_charged_at, value: current_user.to_local_tz( @subscription.next_charged_at ), class: 'datepicker-inline form-control'
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Save', class: 'btn btn-primary'
