

.modal.fade#update_billing_interval_modal
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Enter Renewal Frequency
			= form_for @subscription, url: bazaar.your_subscription_path( @subscription.code ) do |f|
				.modal-body
					.row{ style: 'margin-top: 0' }
						.col-md-6
							.form-group
								= f.number_field :billing_interval_value, class: 'form-control', min: 1
						.col-md-6
							.form-group
								= f.select :billing_interval_unit, ['months', 'weeks', 'days'], {}, class: 'form-control', style: ''

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Save', class: 'btn btn-primary'
