.container
	.row
		.col-xs-12
			%h1
				Buy
				= @product.title

			= form_tag checkout_index_path do
				= hidden_field_tag :product_id, @product.id
				%article
					%label.amount
						%span
							Amount:
							= number_to_currency @product.price / 100.to_f

				%script.stripe-button{ src: 'https://checkout.stripe.com/checkout.js', data: { key: Rails.configuration.stripe[:publishable_key], description: 'A stripe test', amount: @product.price } }