.container
	.row
		.col-xs-12

			%h2 Welcome #{current_user.first_name}
		.col-xs-12.col-md-6
			%h3 My Orders
			- @orders.limit(5).each do |order|
				= render 'swell_ecom/my_orders/well', order: order, args: {}
			- if @orders.count > 5
				%a{ href: swell_ecom.my_orders_path() } More
		.col-xs-12.col-md-6
			%h3 My Subscriptions
			- @subscriptions.limit(5).each do |subscription|
				= render 'swell_ecom/my_subscriptions/well', subscription: subscription, args: {}
			- if @subscriptions.count > 5
				%a{ href: swell_ecom.my_subscriptions_path() } More
