.container
	.row
		.col-xs-12.col-md-6
			%h2 My Subscriptions
			- @subscriptions.each do |subscription|
				.row
					.col-xs-12
						%a{ href: swell_ecom.my_subscription_path( subscription.code ) }=subscription.code
