
%table.table.table-light.table-bordered{ style: 'margin:0;' }
	%thead
		%th Title
		%th{ style: 'width: 10em' } Status
		%th{ style: 'width: 10em' } Created At
	- if products.count == 0
		%tr
			%td{ colspan: 3 }
				\- No Product Found -
	- products.each do |product|
		%tr
			%td
				%a{ href: edit_product_admin_path( product.id ) }
					= product.title
			%td
				= product.status
			%td
				= current_user.to_local_tz(product.created_at).to_fs( :short )
