<!DOCTYPE html>
<html>
<head>
  <title>Bazaar</title>
  <%= stylesheet_link_tag    "bazaar_web/application", media: "all" %>
  <%= javascript_include_tag "bazaar_web/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
