.container
	.row
		.col-xs-12
			%h2 Your Account
		.col-xs-6.col-md-3
			%a.btn.btn-default.btn-block{ href: bazaar.your_orders_path() } Your Orders
		.col-xs-6.col-md-3
			%a.btn.btn-default.btn-block{ href: bazaar.your_subscriptions_path() } Your Subscriptions
