table {
	margin-bottom: 1em;
	width: 100%;
}
table th {
	text-align: left;
	width: 50%;
}
table tbody tr {
	border-top: 1px solid #ccc;
}
table tbody tr td {
	padding: 5px;
}
label {
	font-weight: bold;
	margin: 0;
}

.fulfilled, .not_fulfilled {
	background-color: #888888;
	color: #fff;
	padding: 3px 6px;
	border-radius: 3px;
}
.fulfilled {
	background-color: #8dc319;
}
