


.container-fluid
	.row
		.col-xs-10
			%h2 Shipping Options
		.col-xs-2
			- if policy(SwellEcom::ShippingOption).admin_create?
				%a.btn.btn-success{ data: { toggle: :modal, target: '#shipping_option_admin_new_modal' } }
					%i.fa.fa-plus-square
					New
	.row{ style: 'margin-top: 0' }
		.col-xs-6
			= raw paginate @shipping_options
		.col-xs-6


	.row
		.col-xs-12
			%table.table.table-light.table-bordered
				%thead
					%th
						Name
						%a{ href: discount_admin_index_path( sort_by: 'name', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: discount_admin_index_path( sort_by: 'name', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th Status
					%th{ style: 'width: 6em' }
				%tbody
					- if @shipping_options.blank?
						%tr
							%td{ colspan: 3 }
								\- No Results -
					- @shipping_options.each do |shipping_option|
						%tr
							%td
								= link_to shipping_option.name, edit_shipping_option_admin_path( shipping_option )
							%td
								.badge{ class: shipping_option.status }
									= shipping_option.status
							%td
								\-

= render 'new_modal', args: {}
