


.container-fluid
	.row
		.col-xs-10
			%h2 Shipping Carrier Services
	.row{ style: 'margin-top: 0' }
		.col-xs-6
			= raw paginate @shipping_carrier_services
		.col-xs-6


	.row
		.col-xs-12
			%table.table.table-light.table-bordered
				%thead
					%th
						Name
						%a{ href: shipping_carrier_service_admin_index_path( sort_by: 'name', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: shipping_carrier_service_admin_index_path( sort_by: 'name', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Code
						%a{ href: shipping_carrier_service_admin_index_path( sort_by: 'service_code', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: shipping_carrier_service_admin_index_path( sort_by: 'service_code', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Carrier
						%a{ href: shipping_carrier_service_admin_index_path( sort_by: 'carrier', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: shipping_carrier_service_admin_index_path( sort_by: 'carrier', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Created At
						%a{ href: shipping_carrier_service_admin_index_path( sort_by: 'created_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: shipping_carrier_service_admin_index_path( sort_by: 'created_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th Status
					%th{ style: 'width: 6em' }
				%tbody
					- if @shipping_carrier_services.blank?
						%tr
							%td{ colspan: 6 }
								\- No Results -
					- @shipping_carrier_services.each do |shipping_carrier_service|
						%tr
							%td
								= link_to shipping_carrier_service.name, edit_shipping_carrier_service_admin_path( shipping_carrier_service )
							%td=shipping_carrier_service.service_code
							%td=shipping_carrier_service.carrier
							%td=current_user.to_local_tz(shipping_carrier_service.created_at).to_fs( :short )
							%td
								.badge{ class: shipping_carrier_service.status }
									= shipping_carrier_service.status
							%td
								\-
