= render 'bazaar_web/checkout/geo_address', f: f, address_attribute: :shipping_user_address, countries: get_shipping_countries, states: get_billing_states(  order.shipping_user_address.geo_country_id  ), args: {}
