%table.table.table-light.table-bordered{ style: 'margin:0;' }
	%thead
		%th Title
		%th{ style: 'width: 6em' } Type
		%th{ style: 'width: 6em' } Price
		%th{ style: 'width: 10em' } Created At
	- if offers.active.count == 0
		%tr
			%td{ colspan: 4 }
				\- No Offers Found -
	- offers.active.each do |offer|
		%tr
			%td
				%a{ href: edit_offer_admin_path( offer.id ) }
					= offer.title
			%td
				= offer.recurring? ? 'Recurring' : ''
			%td
				= offer.initial_price_formatted
			%td
				= current_user.to_local_tz(offer.created_at).to_fs( :short )
