#new_sku_modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Sku
			= form_for BazaarCore::Sku.new(), url: bazaar_admin.sku_admin_index_path do |f|
				.modal-body
					.form-group
						= f.label :code
						= f.text_field :code, class: 'form-control'
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'
