.well
	.row
		.col-xs-3
			SUBSCRIBED
			%div= current_user.to_local_tz(subscription.created_at).to_fs( :basic_short )
		.col-xs-3
			SHIP TO
			%div= subscription.shipping_user_address.full_name
		.col-xs-6.text-right
			SUBSCRIPTION # #{subscription.code}
			%div
				%a{ href: bazaar.your_subscription_path( subscription.code ) } Subscription Details
	%div{ style: 'padding: 20px;margin: 10px -20px -20px -20px;background: #fff;' }
		.row
			.col-xs-3
				%img.img.img-responsive.center-block{ src: subscription.offer.avatar || 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAQAAADa613fAAAAa0lEQVR42u3PMREAAAgEID+5KexrBHcPGpDpeiEiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIpcF+EhsNXJGzzsAAAAASUVORK5CYII=' }
			.col-xs-9
				= subscription.offer.title
