.row
	.col-xs-4
		= render 'pulitzer/attachments/has_one_card', f: f, attribute: :avatar_attachment, object: @media, args: {}
	.col-xs-4
		= render 'pulitzer/attachments/has_one_card', f: f, attribute: :cover_attachment, object: @media, args: {}
