.container
	.row
		- if @media.avatar
			.col-xs-12.col-md-5
				%a{ href: @media.url }
					= image_tag @media.avatar
			.col-xs-12.col-md-7
				%h5
					%a{ href: @media.url }
						=@media.title
				%div
					=@media.description
		- else
			.col-xs-12
				%h5
					%a{ href: @media.url }
						=@media.title
				%div
					=raw @media.content
