%table.table.table-light.table-bordered
	%thead
		%tr
			-# %th{ style: 'width: 100px' } &nbsp;
			%th &nbsp;
			%th{ style: 'width: 100px' } Price
			%th.text-right{ style: 'width: 100px' } Quantity
	%tbody
		- order.order_offers.each do |order_offer|
			%tr
				-# %td avatar
				%td
					%strong
						= order_offer.title
				%td= number_to_currency order_offer.price_as_money
				%td.text-right
					= order_offer.quantity
