= hidden_field_tag "offer_config[offer_schedules][0][start_interval]", 1
.row
	.col-xs-12
		%label="Every"
	.col-xs-12.col-lg-3
		.form-group
			.form-control{ readonly: true }
				= @offer.offer_schedules.active.for_interval( 1 ).first.try(:interval_value)
	.col-xs-12.col-lg-3
		.form-group
			.form-control{ readonly: true }
				= @offer.offer_schedules.active.for_interval( 1 ).first.try(:interval_unit)